<section class="content-header">
    <h1>
        <strong>投诉列表</strong>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#/com/verify">投诉审核</a></li>
    </ol>
</section>
<div class="nav-tabs-custom" style="cursor: move;margin-top: 20px;">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-left ui-sortable-handle">
        <li ng-class="{'active': tabIndex == 0}"><a ng-click="changeTab(0)">待审核</a></li>
        <li ng-class="{'active': tabIndex == 1}"><a ng-click="changeTab(1)">处理完成</a></li>
    </ul>
    <div class="tab-content no-padding">
        <div ng-switch="tabIndex">
            <div class="tab-pane" ng-switch-when="0">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <tr>
                                            <th>序号</th>
                                            <th>用户ID</th>
                                            <th>投诉时间</th>
                                            <th>投诉类别</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr ng-repeat="row in handlingComList">
                                            <td>{{$index + 1}}</td>
                                            <td>{{row['userId']}}</td>
                                            <td>{{row['createAt']|date : 'yyyy-MM-dd'}}</td>
                                            <td>{{typeMap[row['type']]}}</td>
                                            <td><span class="label label-success">{{row.status}}</span></td>
                                            <td>
                                                <a ng-click="viewComplaint(row.id)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div ng-if="handlingComList.length == 0" style="text-align: center">无数据显示</div>
                                    <!--分页-->
                                    <div class="box-footer clearfix" ng-if="pagination">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a ng-click="getHandlingComplaints(pagination.last)">&laquo;</a></li>
                                            <li ng-repeat="p in pagination.pages" ng-class="{'active':p==pagination.current}">
                                                <a ng-click="getHandlingComplaints(p)">{{p}}</a>
                                            </li>
                                            <li><a ng-click="getHandlingComplaints(pagination.next)">&raquo;</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane" ng-switch-when="1">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <tr>
                                            <th>序号</th>
                                            <th>用户ID</th>
                                            <th>投诉时间</th>
                                            <th>投诉类别</th>
                                            <th>状态</th>
                                            <th>用户评分</th>
                                            <th>操作</th>
                                        </tr>

                                        <tr ng-repeat="row in handlingComList">
                                            <td>{{$index}}</td>
                                            <td>{{row['userId']}}</td>
                                            <td>{{row['create_at']|date : 'yyyy-MM-dd'}}</td>
                                            <td>{{typeMap[row['type']]}}</td>
                                            <td><span class="label label-success">{{row.status}}</span></td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">查看</a>
                                            </td>

                                        </tr>

                                    </table>
                                    <div ng-if="handlingComList.length == 0" style="text-align: center">无数据显示</div>
                                    <!--分页-->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->


<!--  模态框-审核投诉-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>查看投诉</strong></h4>
            </div>
            <div class="modal-body">
                <div class="post">
                    <div class="user-block">
                        <img class="img-circle" src="dist/img/user4-128x128.jpg" alt="user image">
                        <span class="description" style="font-size: 16px"><b>时间：</b>{{theComplaint['createAt']|date : 'yyyy-MM-dd'}}</span>
                        <span class="description" style="font-size: 16px"><b>类别：</b>{{typeMap[theComplaint['type']]}}</span>
                    </div>
                    <!-- /.user-block -->
                    <div style="border: #dddddd 1px solid;background: #ECF0F5;padding: 5px; margin: 10px 0;">
                        {{theComplaint['description']}}
                    </div>
                    <h4 ng-if="theComplaint['comImgs'].length > 0" class="description">图片：</h4>
                    <div class="row">
                        <div class="col-sm-4" ng-repeat="img in theComplaint['comImgs']">
                            <img class="img-responsive" ng-src="{{baseImgUrl+img['imageUrl']}}" alt="Photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="verifyComplaint(true)" class="btn btn-primary" data-dismiss="modal">通过</button>
                <button type="button" ng-click="verifyComplaint(false)"class="btn btn-danger" data-dismiss="modal">驳回</button>
            </div>
        </div>
    </div>
</div>