<section class="content-header">
    <h1>
        <strong>投诉列表</strong>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#/com/process">投诉处理</a></li>
    </ol>
</section>
<div class="nav-tabs-custom" style="cursor:default;margin-top:20px;">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-left ui-sortable-handle">
        <li ng-class="{'active': tabIndex == 0}"><a ng-click="changeTab(0)">处理中</a></li>
        <li ng-class="{'active': tabIndex == 1}"><a ng-click="changeTab(1)">处理完成</a></li>
    </ul>
    <div class="tab-content no-padding">
        <div ng-switch="tabIndex">
            <div class="tab-pane" ng-switch-when="0">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <tr>
                                            <th>序号</th>
                                            <th>用户ID</th>
                                            <th>投诉时间</th>
                                            <th>投诉类别</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr ng-repeat="row in handlingComList">
                                            <td>{{$index + 1}}</td>
                                            <td>{{row['userId']}}</td>
                                            <td>{{row['createAt']|date : 'yyyy-MM-dd'}}</td>
                                            <td>{{typeMap[row['type']]}}</td>
                                            <td><span class="label label-success">{{row.status}}</span></td>
                                            <td>
                                                <a ng-click="viewComplaintInteraction(row.id)"
                                                   class="btn btn-primary btn-sm" data-toggle="modal"
                                                   data-target="#viewModal">查看</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div ng-if="handlingComList.length == 0" style="text-align: center">无数据显示</div>
                                    <!--分页-->
                                    <div class="box-footer clearfix" ng-if="pagination">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a ng-click="getHandlingComplaints(pagination.last)">&laquo;</a></li>
                                            <li ng-repeat="p in pagination.pages" ng-class="{'active':p==pagination.current}">
                                                <a ng-click="getHandlingComplaints(p)">{{p}}</a>
                                            </li>
                                            <li><a ng-click="getHandlingComplaints(pagination.next)">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane" ng-switch-when="1">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <tr>
                                            <th>序号</th>
                                            <th>用户ID</th>
                                            <th>投诉时间</th>
                                            <th>投诉类别</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>

                                        <tr ng-repeat="row in handlingComList">
                                            <td>{{$index}}</td>
                                            <td>{{row['userId']}}</td>
                                            <td>{{row['create_at']|date : 'yyyy-MM-dd'}}</td>
                                            <td>{{typeMap[row['type']]}}</td>
                                            <td><span class="label label-success">{{row.status}}</span></td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                   data-target="#addModal">查看</a>
                                            </td>

                                        </tr>

                                    </table>
                                    <div ng-if="handlingComList.length == 0" style="text-align: center">无数据显示</div>
                                    <!--分页-->
                                    <div class="box-footer clearfix" ng-if="pagination">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a ng-click="getHandlingComplaints(pagination.last)">&laquo;</a></li>
                                            <li ng-repeat="p in pagination.pages" ng-class="{'active':p==pagination.current}">
                                                <a ng-click="getHandlingComplaints(p)">{{p}}</a>
                                            </li>
                                            <li><a ng-click="getHandlingComplaints(pagination.next)">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4><strong>回复投诉</strong></h4>
            </div>
            <div class="modal-body">

                <!-- DIRECT CHAT PRIMARY -->
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <div ng-repeat="row in complaintInteraction">
                                <div ng-switch="$index%2">
                                    <div class="direct-chat-msg" ng-switch-when="0">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-timestamp pull-left">{{row['createAt']|date : 'MM-dd hh:mm'}}</span>
                                        </div>
                                        <span class="direct-chat-name pull-left">投诉用户</span>
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-text pull-left">
                                                <div>{{row['description']}}</div>
                                                <div class="row">
                                                    <div class="col-sm-4" ng-repeat="img in row['comImgs']">
                                                        <img class="img-responsive"
                                                             ng-src="{{baseImgUrl+img['imageUrl']}}" alt="Photo">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Message to the right -->
                                    <div class="direct-chat-msg right" ng-switch-when="1">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-timestamp pull-right">{{row['createAt']|date : 'MM-dd hh:mm'}}</span>
                                        </div>
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-right" style="width: auto">处理人员</span>
                                            <span class="direct-chat-text pull-right" style="background:white;">
                                                <div>{{row['description']}}</div>
                                                <div ng-repeat="img in row['comImgs']">
                                                    <img ng-src="{{baseImgUrl+img['imageUrl']}}" alt="">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <form enctype='multipart/form-data' name="myForm" ng-show="showSubmitBtn">
                            <div class="input-group" style="margin-bottom: 10px;">
                                <label for="replyImages">图片：</label>
                                <input type="file" name="file" id="replyImages" multiple accept="image/*">
                            </div>
                            <div class="input-group">
                                <input type="text" name="description" placeholder="输入消息 ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-flat" ng-click="reply()" data-dismiss="modal">发送</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
        <!--/.direct-chat -->
    </div>
</div>



