<div style="background-image: url('img/84007.jpg');height: 700px;">
    <h1 style="padding-top: 160px;text-align: center;color:#ffffff"><b>游客服务后台</b></h1>
    <p style="text-align: center;font-size: 18px;padding-top: 200px; z-index:2" ng-show="showBtn">
        <button class="btn btn-success" data-toggle="modal" data-target="#loginModal">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info" data-toggle="modal" data-target="#registerModal">注册</button>
    </p>
    <br/>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <div class="box-header with-border">

                    </div>
                    <div class="box-body">

                        <form method="post">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" ng-model="user.username" placeholder="Username">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>

                            <!-- /.col -->

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="login()" data-dismiss="modal">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <div class="box-header with-border">

                    </div>
                    <div class="box-body">

                        <form action="" method="post">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" ng-model="userName1" placeholder="Full name">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="email" class="form-control" ng-model="email" placeholder="Email">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" ng-model="password1" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Retype password">
                                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="register()" data-dismiss="modal">注册</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>